* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400px;
    line-height: 1.6;
    background-color: lightgray;
    color: white;
    }

  .container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 0;
}
 .sedans {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    
    }

    .suvs {
        background-color: hsl(184, 100%, 22%);
      
    }

    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;  
    }
      .flex-container {
    position: relative;
    text-align: left;
    width: 650px;
 		padding: 1.2rem; 
      display: flex;
    }
    
  /*img {
    min-width: 25%;
    height: 40px;
		left: 15px;
		top: - 4px;
   }*/
    img {
        margin-top: 20px;
        margin-bottom: 19px;
        max-width: 100%;
        margin-left: 20px; 
  }

    button {
        width: 120px;
        height: 40px;
      border-radius: 20px;
      border-color: white;
      margin-left: 20px;
      margin-bottom: 40px;
      margin-right: 30px;
      margin-top: 10px;
    }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Big Shoulders Display', cursive;
    margin: 2px 30px;
}
p{
    color: hsl(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 10px 10px 40px 30px;
    padding: 10px 0;
    line-height: 1.6;
    word-spacing: -1.6px;
  
}


  .mybutton {
    border-radius: 0px;
    border: none;
    width: 70%;
    height: 50px;
    font-size: 20px;
  }